database_host=  # The hostname where the database is stored. For example, if you're hosting a database on your local machine, the hostname is probbaly either localhost or 127.0.0.1
database_port=  # The port that you're database is running on. For PostgreSQL, this is commonly 5432.
database_name=  # The database name. Note: If you change this name, make sure you update the name in the migration.sql file as well.
database_user=  # Your username for logging on to your database server.
database_pass=  # Your password for logigng on to your database server.
server_port=    # The port the web application should listen for incoming connections on. This is likely 80 for production and 3000 for development/testing.
server_address= # The address the web application is hosted on. For example, https://www.example.com THIS MUST NOT HAVE THE ENDING "/"