#cards-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: var(--secondary-color);
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.card p {
    margin: 5px 0;
    line-height: 1.5;
}

.card button {
    margin-right: 10px;
}