.modal {
    z-index: 1;
    background-color: rgba(211, 211, 211, 0.8);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    height: 600px;
    width: 400px;
    background-color: whitesmoke;
}